{:deps
 {cljfx {:mvn/version "1.4.1"}
  com.github.afester.javafx/FranzXaver {:mvn/version "0.1"}
  thi.ng/geom-viz {:mvn/version "0.0.908"}
  geokon-gh/morelinear {:git/url "https://github.com/geokon-gh/morelinear"
                        :sha "4a9ee2ee1783b873733e15db12cccb0b243a5f27"}}}

